@charset "UTF-8";

/* Reset e Box-Sizing */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat/Montserrat-Light.ttf') format('ttf');
    font-size: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Montserrat';
    src: url('./fonts/montserrat/Montserrat-SemiBold.ttf') format('ttf');
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

/* Configurações Globais (SEO & UX) */
:root {
    scroll-behavior: smooth;
    --cor0: #968d4c; /* Oliva/Dourado mais claro */
    --cor1: #8b924c; /* Oliva/Dourado médio */
    --cor2: #414358; /* Azul acinzentado */
    --cor3: #111132; /* Azul profundo (a mais escura) */    
    --font-pardao: 'Montserrat', sans-serif;
}


body {
    font-family: var(--font-pardao);
    background-color: #f8f9fa;
    color: var(--cor2);  
    overflow-x: hidden;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;  
    line-height: 1.6;
   
}

/* Imagens Responsivas */
img {
    max-width: 100%;
    display: block;
    height: auto;
}
